<div class="statistical">
    <h2>统计数据</h2>
    <div class="mybox">
        <div class="box">
            <ul>
              <li><span>输入数量</span><input [(ngModel)]="num" type="text"></li>
              <li><button (click)="getNum()">确认</button></li>
            </ul>
          </div> 
          <div class="box">
              <ul>
                <li><span>新增数量</span><input [(ngModel)]="num" type="number"></li>
                <li><span>总数</span><input [(ngModel)]="CountNum" type="number"></li>
              </ul>
            </div>
        </div>
    </div>